<tr xmlns="http://www.w3.org/1999/xhtml" xmlns:py="http://genshi.edgewall.org/"
        id="${id}"
        class="${css_class}"
        py:attrs="attrs">
    <py:for each="field in fields">
        <td title="${field.help_text}">
            <span id="${field.id}.container"
                py:attrs="args_for(field).get('container_attrs') or field.container_attrs">
            ${display_child(field)}
            <span py:if="show_children_errors and error and not field.show_error" class="fielderror" py:content="error_for(field)" />
            </span>
        </td>
    </py:for>
    <td><py:for each="field in hidden_fields">
        ${display_child(field)}
    </py:for></td>
</tr>
